
<h2>Add to Cart</h2>

<div>
    <button class="add-to-cart-btn" value=@Model.BookId>Add to Cart</button>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var addToCartButton = document.querySelector('.add-to-cart-btn');

            addToCartButton.addEventListener('click', function (event) {
                event.preventDefault();

                var bookId = addToCartButton.getAttribute('value');

                var form = document.createElement('form');
                form.method = 'post';
                form.action = '@Url.Action("AddToCart", "Cart")';

                var hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = 'id';
                hiddenField.value = bookId;

                form.appendChild(hiddenField);
                document.body.appendChild(form);

                form.submit();
            });
        });
    </script>
}