@model IEnumerable<Domain.Models.CartItem>
<br />
<br />
<div class="mt-5" style="background-color :pink;  border :2px solid pink;">
    <h3 style="text-align: center;text-decoration: solid;text-decoration: underline; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-wrap: wrap; color: black;"><i>Checkout</i></h3>
</div>
<img src="https://image.shutterstock.com/image-vector/thank-you-modern-design-calligraphic-260nw-1864252030.jpg" style="margin-left:7%;height:650px; width:1400px;" />