@model Domain.Models.Booksleeves
@{
    ViewData["Title"] = "Addbookmark";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="login1" style="background-image: url('@Url.Content("~/images/adminbg.jpg")');">

    <div class="login" style="font-family: Arapey, serif;margin:0;">
        <form style="font-family: Arapey, serif;" method="post" action="/booksleeves/AddBooksleeves" enctype="multipart/form-data">
            <fieldset>
               
                <label class="text-dark"><b>Booksleeve name:</b></label>
                <input type="text" id="sname" name="sleevename" placeholder="Enter sleeve name">
                <br />
                <label class="text-dark"><b>Price:</b></label>
                <input type="text" id="sp" name="price" placeholder="Enter Price">

                <br />
                <label class="text-dark"><b>Quantity:</b></label>
                <input type="number" id="sq" name="quantity" placeholder="Enter Quanity">
                <br />
                
                <label class="text-dark"><b>Category:</b></label>
                <input type="number" id="sc" name="Categoryid" placeholder="Category">
                <br />
                <br />
                <div class="mt-3">
                    <input type="file" id="scImage" name="CoverImage">
                </div>
                <br />
                <button type="submit" onclick="getSleeve()" value="add">add</button>
                <br />
            </fieldset>

        </form>
    </div>
</div>
<br />
@section Mycss1 {
    <link href="~/css1/LoginStyle.css" rel="stylesheet" />
}

@section Scripts
{
    <script>
        function getSleeve(){
        
            var formD = new FormData();

            formD.append("sleevename", $('#sname').val());
            formD.append("price", $('#sp').val());
            formD.append("quantity", $('#sq').val());
            formD.append("Categoryid", $('#sc').val());
            formD.append("CoverImage", $('#scImage')[0].files[0]);
            addsleeve(formD);

        }

        function addsleeve(formD) {
            $.ajax({
                url: '/booksleeves/Addbooksleeves',
                method: 'POST',
                data: formD,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data)

                }
                error: function (error) {
                    console.log(error)
                }

            });
        }

    </script>

}